@font-face {
  font-family: SeymourOne-Regular;
  src: url("/font/SeymourOne-Regular.woff2") format("woff2");
}
@font-face {
  font-family: NotoSansTC-Regular;
  src: url("/font/NotoSansTC-Regular.woff2") format("woff2");
}
.gallery {
  width: 25.5vw;
  height: 100vh;
  margin: auto;
}
.gallery > .q {
  position: absolute;
  z-index: 150;
  top: 90%;
  background-color: #000;
  right: calc(50vw - 56px);
  animation: color 16s ease-in-out forwards;
}
@keyframes color {
  0% {
    color: #ffffff;
    display: block;
  }
  10% {
    color: #676767;
    display: block;
  }
  20% {
    color: #fdfdfd;
    display: block;
  }
  30% {
    color: #747474;
    display: block;
  }
  40% {
    color: #ffffff;
    display: block;
  }
  50% {
    color: #717171;
    display: block;
  }
  60% {
    color: #ffffff;
    display: block;
  }
  70% {
    color: #696969;
    display: block;
  }
  80% {
    color: #ffffff;
    display: block;
  }
  90% {
    color: #5c5c5c;
    display: block;
  }
  100% {
    display: none;
  }
}
.gallery input {
  display: none;
}

.gallery .img > img {
  height: 100vh;
  width: 25.5vw;
  position: absolute;
  z-index: 100;
  top: 0;
  background-color: #ffffff;
}
.img {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0;
}

#s1:checked ~ label[for="s2"],
#s2:checked ~ label[for="s3"],
#s3:checked ~ label[for="s4"],
#s4:checked ~ label[for="s5"],
#s5:checked ~ label[for="s6"],
#s6:checked ~ label[for="s7"],
#s7:checked ~ label[for="s8"],
#s8:checked ~ .img {
  display: block;
}

#no {
  display: none;
}
#result {
  width: 100%;
  position: relative;
  top: 0;
  display: flex;
  margin: auto;
  background-color: white;
}
#result .pemy_result {
  width: 100%;
  height: auto;
}
#result .result-down {
  width: 100%;
  position: absolute;
  top: 100%;
  background-color: #ffffff;
  padding: 20px 5% 10px;
  animation: result-down 6s ease-in-out forwards;
}
@keyframes result-down {
  0% {
    opacity: 0;
    display: none;
  }
  90% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
#result h3 {
  font-size: 14px;
  margin-left: 5%;
  margin-top: 10px;
  color: #ffffff;
}
#result .result-down .vcd-logo {
  width: 90%;
  height: auto;
  margin: 5% 5% 5%;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 300;
  line-height: 1.5;
  font-size: 10px;
}
.result-button {
  width: 90%;
  height: 20px;
  margin: 10px 5% 50px;
  background-color: #26262600;
}
#result .result-button > button {
  display: block;
  width: 100%;
  margin-right: 2%;
  margin-bottom: 2%;
  height: 50px;
  background-color: #ffffff;
  border: 2px solid #38297a;
  text-align: center;
  color: #38297a;
  font-size: 12px;
}
#result .result-button > a {
  display: block;
  width: 98%;
  margin-right: 4%;
  margin-bottom: 2%;
  height: 50px;
  padding: 15px 0;
  background-color: #ffffff;
  border: 2px solid #38297a;
  text-align: center;
  color: #38297a;
  font-size: 12px;
  text-decoration: none;
  font-weight: bolder;
}
#result p {
  margin-bottom: 0;
}
.restart-button-group {
  width: 90%;
  margin: 0 5%;
  display: flex;
}
#result .restart-button-group > button {
  display: block;
  width: 48%;
  margin-right: 2%;
  height: 50px;
  background-color: #ffffff;
  border: 2px solid #38297a;
  text-align: center;
  color: #38297a;
  font-size: 12px;
  font-weight: bolder;
}
#result .restart-button-group > a {
  display: block;
  width: 48%;
  margin-right: 2%;
  height: 50px;
  padding: 15px 0;
  background-color: #ffffff;
  border: 2px solid #38297a;
  text-align: center;
  color: #38297a;
  font-size: 12px;
  text-decoration: none;
  font-weight: bolder;
}
#result #download {
  display: block;
  text-decoration: none;
  padding-top: 14px;
  width: 48%;
  margin-left: 2%;
  height: 50px;
  background-color: #ffffff;
  border: 2px solid #000000;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 12px;
}
#result .result-down .text {
  font-size: 12px;
  text-align: center;
  margin: 20px 0;
}
#result .animation {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  animation: loading-ani 1.2s ease-in-out forwards;
}
#result .loading {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  z-index: 200;
  animation: loading 8s ease-in-out forwards;
}
@keyframes loading {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loading-ani {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
#result .loading .loading_ani {
  position: absolute;
  top: 0;
  animation: loading_ani 1s infinite;
}
@keyframes loading_ani {
  0% {
    width: 100%;
    height: 100%;
    background-image: url(../img/loading1.PNG);
    background-position: center;
    background-size: cover;
  }
  20% {
    width: 100%;
    height: 100%;
    background-image: url(../img/loading2.PNG);
    background-position: center;
    background-size: cover;
  }
  40% {
    width: 100%;
    height: 100%;
    background-image: url(../img/loading3.PNG);
    background-position: center;
    background-size: cover;
  }
  60% {
    width: 100%;
    height: 100%;
    background-image: url(../img/loading1.PNG);
    background-position: center;
    background-size: cover;
  }
  80% {
    width: 100%;
    height: 100%;
    background-image: url(../img/loading2.PNG);
    background-position: center;
    background-size: cover;
  }
  100% {
    width: 100%;
    height: 100%;
    background-image: url(../img/loading3.PNG);
    background-position: center;
    background-size: cover;
  }
}
#result .animation img {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 4;
}
#result .loading img {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 3;
}
#result .result-down img {
  width: 100%;
  margin-top: 0%;
}
@keyframes loading-move {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*平板*/
@media (max-width: 1000px) {
  #result {
    display: none;
  }
  #no {
    display: block;
  }
  #no img {
    width: 80%;
    height: 80%;
    animation: background-img 10s ease-in-out infinite;
    position: absolute;
    z-index: 1;
  }
  #no .no-page {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  #no p {
    width: 70%;
    margin: 40vh 15% 20px;
    background-color: white;
    border: solid 2px #000;
    padding: 30px 0;
    text-align: center;
  }
}

/*手機*/
@media (max-width: 600px) {
  #no {
    display: none;
  }
  .gallery {
    width: 100vw;
    height: 100vh;
    margin: auto;
  }
}
